.page {
    padding: 0 0 rem(100);
    padding-top: rem(180);
    &:before {
        height: rem(150);
        display: block;
        content: "";
    }
    p {
        font-size: rem(25);
        line-height: rem(35);
    }
    .intro {
        padding-bottom: rem(200);
        p {
            margin-top: rem(100);
        }
    }
}
.contact-page {
    font-size: rem(17);
    .sub-title {
        font-size: rem(17);
        line-height: rem(25);
        margin: rem(70) 0 rem(40);
    }
    .contact-info {
        > div {
            margin-bottom: rem(40);
        }
        img {
            width: rem(25);
            display: block;
            margin-bottom: rem(10);
        }
    }
    .form-group {
        margin-bottom: rem(60);
        input,
        textarea {
            width: 100%;
            border: 0;
            outline: none;
            background-color: $white;
            padding: rem(8) 0;
            border-bottom: 1px solid #707070;
            border-radius: 0;
            &::placeholder {
                color: #000000;
            }
        }
        textarea {
            min-height: rem(120);
            resize: none;
        }
        .btn {
            width: 100%;
            margin-top: rem(15);
            span {
                margin: auto;
            }
        }
    }
}

.about-page {
    p {
        font-size: rem(25);
        line-height: rem(35);
    }
    .intro {
        padding-bottom: rem(200);
        p {
            margin-top: rem(150);
        }
    }
    .content {
        section {
            padding: rem(100) 0;
            &:nth-child(odd) {
                background-color: #f5f5f5;
            }
            &:nth-child(even) {
                .row {
                    flex-direction: row-reverse;
                }
            }
            .row {
                --bs-gutter-x: #{rem(80)};
                align-items: center;
            }
            .col-md-6:first-child {
                // padding-top: rem(100);
            }
            p {
                margin: rem(75) 0;
                @media (min-width: 1200px) {
                    max-width: 70%;
                }
            }
            .img-container {
                overflow: hidden;
                img {
                    width: 100%;
                    border-radius: rem(75);
                }
            }
        }
    }
}

.products-page {
    padding-bottom: 0;
    .content {
        background-color: #f5f5f5;
        padding: rem(200) 0 0;
        .container {
            width: rem(1400);
            max-width: 100%;
        }
    }
    .item {
        padding-bottom: rem(250);

        .img-container {
            img {
                width: rem(350);
                max-height: rem(340);
                max-width: 100%;
            }
        }
        h4 {
            font-size: rem(35);
            line-height: rem(50);
            margin-bottom: rem(40);
        }
    }
}

.faq-page {
    .content {
        padding: rem(170) 0;
        .faq-title {
            font-size: rem(35);
            margin-bottom: rem(50);
        }

        .faq-section + .faq-section {
            padding-top: rem(220);
        }
        .acc-item {
            border-top: 1px solid #707070;
            &:last-child {
                border-bottom: 1px solid #707070;
            }
            .head {
                padding: rem(30) 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: rem(20);
                cursor: pointer;
                user-select: none;
                transition: box-shadow ease 0.3s;
                h4 {
                    font-size: rem(25);
                    line-height: 1.2;
                    font-weight: $fontMedium;
                }
                .toggle {
                    border: none;
                    background: url(#{$imgPath}/icons/plus.svg) no-repeat center / rem(18) $primary;
                    width: rem(47);
                    height: rem(47);
                    border-radius: 50%;
                    transition: transform ease 0.2s;
                }
            }
            .acc-content {
                padding: rem(40) 0;
                display: none;
            }
            &.active {
                .head {
                    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
                    .toggle {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}

.e-badge {
    padding: rem(3) rem(25);
    font-size: rem(15);
    font-weight: $fontLight;
    color: #330656;
    border: 1px solid #330656;
    border-radius: 25px;
    background-color: transparent;
    & + .e-badge {
        margin-inline-start: rem(15);
    }
    &.selected {
        color: #fff !important;
        background-color: #330656 !important;
    }
    &.gray {
        color: #9e9e9e;
        border-color: #9e9e9e;
        &.selected {
            background-color: #9e9e9e !important;
        }
    }
    &.purble {
        color: $primary;
        border-color: $primary;
        &.selected {
            background-color: $primary !important;
        }
    }
    &.green {
        color: #009db3;
        border-color: #009db3;
        &.selected {
            background-color: #009db3 !important;
        }
    }
}
.blog-item-head {
    display: flex;
    align-items: center;
    margin-bottom: rem(30);
    .gray-text {
        font-size: rem(24);
        font-weight: $fontLight;
        margin-inline-start: rem(40);
        text-transform: uppercase;
        color: #9e9e9e;
    }
}
.blog-page {
    .page-head {
        margin-bottom: rem(160);
    }
    .blog-slider {
        background-color: #f5f5f5;
        margin-bottom: rem(100);
        .owl-nav {
            position: absolute;
            bottom: rem(45);
            right: rem(140);
            [dir="rtl"] & {
                left: rem(140);
            }
        }
    }
    .slider-item {
        .image-container {
            height: 100%;
            display: block;
            position: relative;
            &:before {
                content: "";
                padding: 30% 50%;
                display: block;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: auto;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            padding: rem(200) rem(85);
            padding-inline-end: rem(140);
            @media (max-width: 1200px) {
                padding: rem(100) rem(40) rem(200);
            }
            > div {
                width: 100%;
                margin: auto;
            }
        }
        .title {
            font-size: rem(32);
            line-height: rem(41);
            font-weight: $fontSemiBold;
            margin-bottom: rem(15);
        }
        .text {
            font-size: rem(20);
            color: #5f5f5f;
            line-height: rem(24);
        }
    }
    .blog-list-wrapper {
        .filters {
            position: sticky;
            top: rem(70);
            z-index: 1;
            padding: rem(15) 0;
            background-color: $white;
            margin-bottom: rem(70);
            display: flex;
            align-items: center;
            button {
                font-size: rem(19);
                padding: rem(5) rem(25);
                line-height: rem(29);
                transition: all ease-in-out 0.3s;
                &:hover {
                    background-color: rgba($primary, 0.05);
                    box-shadow: 0 0 rem(5) rgba($primary, 0.5);
                }
            }
        }
        .blog-list {
            margin-bottom: rem(50);
            .row {
                margin: 0 rem(-30);
            }
            [class*="col"] {
                padding: 0 rem(30);
                margin-bottom: rem(60);
            }
        }
        .blog-item {
            display: block;
            overflow: hidden;
            border-radius: rem(40);
            background-color: #f7f8f8;
            border: 2px solid transparent;
            transition: all ease-in-out 0.3s;
            color: $black;
            height: 100%;
            &:hover {
                border-color: $primary;
            }
        }
        .image-container {
            position: relative;
            &:before {
                content: "";
                padding: 25% 50%;
                display: block;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: auto;
            }
        }
        .content {
            padding: rem(37) rem(30);
            .blog-item-head {
                .gray-text {
                    font-size: rem(15);
                    margin-inline-start: rem(25);
                }
            }
        }
        .title {
            font-size: rem(18);
            line-height: rem(25);
            margin-bottom: rem(25);
            font-weight: $fontSemiBold;
        }
        .text {
            font-size: rem(14);
            line-height: rem(20);
            color: #5f5f5f;
            margin-bottom: rem(25);
        }
    }
}
.more-container {
    text-align: center;
    .btn-arrow {
        &:after {
            transform: rotate(90deg);
        }
    }
}
.loader {
    text-align: center;
    margin-bottom: rem(100);
}
.blog-details {
    .page-container {
        width: rem(1080);
        max-width: 100%;
        .image-container {
            border-radius: rem(70);
            position: relative;
            overflow: hidden;
            display: block;
            cursor: pointer;
            margin-top: rem(70);
            &:before {
                content: "";
                padding: 30% 50%;
                display: block;
            }
            > * {
                transition: all ease-in-out 0.3s;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: auto;
                + div {
                    display: none;
                }
            }
        }
        .media-container {
            border-radius: 0;
        }
        .image-alt {
            font-size: rem(17);
            font-weight: $fontRegular;
            margin: rem(45) 0;
            text-align: center;
        }
        .article-info {
            display: flex;
            margin: rem(40) 0 rem(50);
            flex-wrap: wrap;
            .blog-item-head {
                flex-grow: 1;
            }
            .article-owner {
                margin-top: auto;
                display: flex;
                align-items: center;
                margin-bottom: rem(15);
                margin-inline-end: rem(50);
                .photo {
                    width: rem(77);
                    height: rem(77);
                    border-radius: 50%;
                    overflow: hidden;
                    margin-inline-end: rem(20);
                    img {
                        object-fit: cover;
                    }
                }
                h4 {
                    font-size: rem(20);
                    font-weight: $fontBold;
                    margin-bottom: rem(8);
                    span {
                        font-weight: $fontRegular;
                    }
                }
                p {
                    font-size: rem(17);
                }
            }
        }

        .title {
            font-size: rem(32);
            line-height: rem(45);
            margin-bottom: rem(45);
        }

        article {
            font-size: rem(24);
            line-height: rem(33);
            p {
                margin-bottom: rem(16);
            }
            .gray-section {
                background-color: #f5f5f5;
                padding: rem(42) rem(70);
                border-radius: rem(60);
                margin: rem(85) 0;
                p {
                    margin-bottom: rem(25);
                }
                h5 {
                    font-size: rem(17);
                    font-weight: $fontRegular;
                }
            }
            .image-container {
                margin: rem(80) 0 0;
            }
            .special-point {
                
                ul {
                    margin: rem(100) 0;
                    padding: 0;
                    li {
                        & + li {
                            margin-top: rem(50);
                        }
                        display: flex;

                        &::before {
                            width: rem(60);
                            min-width: rem(60);
                            height: rem(60);
                            border-radius: 50%;
                            color: #7e16c5;
                            border: 1px solid #7e16c5;
                            margin-inline-end: rem(35);
                            line-height: rem(60);
                            text-align: center;
                            font-size: rem(30);
                            font-weight: $fontSemiBold;
                        }
                        @for $i from 1 through 10 {
                            &:nth-child(#{$i}):before {
                                content: '#{$i}';
                            }
                        }
                    }
                    h6 {
                        font-size: rem(23);
                        margin-bottom: rem(15);
                    }
                    div {
                        font-size: rem(18);
                    }
                }
            }
        }
    }
}
.purble-section {
    background-color: #ca95fe;
    padding: rem(85) 0;
    margin: 0 0 rem(150) 0;
    p {
        font-size: rem(32);
        line-height: rem(41);
        font-weight: $fontSemiBold;
    }
}

.gray-section {
    background-color: #f5f5f5;
    padding: rem(100) 0;
    h2 {
        font-size: rem(32);
        line-height: rem(41);
        margin-bottom: rem(60);
    }
}
.white-list {
    [class*="col"] {
        margin-bottom: rem(40);
    }
    .item {
        border-radius: rem(33);
        background-color: #fff;
        padding: rem(50) rem(80);
        font-size: rem(24);
        line-height: rem(32);
        font-weight: $fontMedium;
        height: 100%;
    }
}
.reports-wrapper {
    padding: rem(80) 0;
}
.report-list {
    margin-bottom: rem(100);
    .report-item {
        padding: rem(65) 0;

        @media (min-width: 767px) {
            padding-inline-end: rem(130);
        }
        h3 {
            font-size: rem(24);
            line-height: rem(32);
            font-weight: $fontSemiBold;
            margin-bottom: rem(40);
        }
        h4 {
            color: #5f5f5f;
            margin-bottom: rem(18);
            font-size: rem(14);
            line-height: rem(24);
            font-weight: $fontRegular;
        }
        p {
            font-size: rem(14);
            color: #5f5f5f;
            line-height: rem(20);
            margin-bottom: rem(30);
            font-weight: $fontLight;
            b {
                font-weight: $fontSemiBold;
            }
        }
        a {
            font-size: rem(15);
            color: #801bc5;
            text-decoration: underline;
        }
    }
}

.media-list-wrapper {
    .media-list {
        margin-bottom: rem(50);
        .row {
            margin: 0 rem(-30);
        }
        [class*="col"] {
            padding: 0 rem(30);
            margin-bottom: rem(60);
        }
    }
    .media-item {
        display: block;
        height: 100%;
        transition: all ease-in-out 0.3s;
        color: $black;
        &:hover {
            color: $primary;
            img {
                transform: scale(1.1);
            }
        }
        &.video {
            .image-container {
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    transition: opacity ease 0.2s;
                    width: rem(115);
                    height: rem(115);
                    background: url(#{$imgPath}/icons/play.svg) no-repeat center / contain;
                }
            }
        }
    }
    .image-container {
        position: relative;
        border-radius: rem(40);
        overflow: hidden;
        display: block;
        cursor: pointer;
        &:before {
            content: "";
            padding: 40% 50%;
            display: block;
        }
        img {
            transition: all ease-in-out 0.3s;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: auto;
        }
    }
    .content {
        padding: rem(35);
    }
    .title {
        font-size: rem(18);
        line-height: rem(22);
        font-weight: $fontSemiBold;
    }
}

.skills-list {
    .item {
        padding: rem(170) 0;
        .container {
            max-width: rem(1100);
        }
        &:nth-child(odd) {
            background-color: #f5f5f5;
        }
        .image-container {
            overflow: hidden;
            position: relative;
            border-radius: rem(75);
            margin-bottom: rem(55);
            &:before {
                content: "";
                padding: 30% 50%;
                display: block;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: auto;
            }
        }
        h2 {
            font-size: rem(32);
            font-weight: $fontSemiBold;
            margin-bottom: rem(55);
        }
    }
}
.who-use-list {
    .item {
        padding: rem(140) 0;
        &:first-child {
            padding-top: 0;
        }
        .container {
            max-width: rem(1100);
        }
        .image-container {
            overflow: hidden;
            position: relative;
            border-radius: rem(75);
            margin-bottom: rem(55);
            &:before {
                content: "";
                padding: 30% 50%;
                display: block;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: auto;
            }
        }
        h2 {
            font-size: rem(32);
            font-weight: $fontSemiBold;
            margin-bottom: rem(55);
        }
        p {
            margin-bottom: rem(80);
        }
        ul {
            li {
                font-weight: $fontMedium;
                margin-bottom: rem(40);
                display: flex;
                align-items: center;
                font-size: rem(24);
                padding: 0;
                &::before {
                    content: "";
                    width: rem(11);
                    min-width: rem(11);
                    height: rem(11);
                    border-radius: 50%;
                    background-color: #7c17c2;
                    margin-inline-end: rem(15);
                }
            }
        }
    }
}

.static-page {
    .intro {
        padding-bottom: rem(170);
    }
    .content {
        font-size: rem(25);
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: rem(40);
        }
        p {
            margin-bottom: rem(40);
        }
    }
}

.media-hero {
    padding: rem(150) 0;
    .hero-wrapper {
        position: relative;
        padding: rem(200) rem(130) rem(270);
        border-radius: rem(88);
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: auto;
            z-index: -1;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000000, 0.19);
            z-index: -1;
        }
        font-weight: $fontSemiBold;
        color: $white;
        h3 {
            font-size: rem(35);
            line-height: rem(41);
            margin-bottom: rem(30);
        }
        p {
            font-size: rem(25);
            line-height: rem(34);
        }
    }
}
.media-page {
    .media-list-wrapper {
        margin-bottom: rem(200);
    }
    .media-list {
        margin: 0;
        margin-top: rem(130);
    }
    .media-gallery {
        .content {
            padding: rem(120) 0;
        }

        .video {
            .image-container {
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    transition: opacity ease 0.2s;
                    width: rem(115);
                    height: rem(115);
                    background: url(#{$imgPath}/icons/play.svg) no-repeat center / contain;
                }
            }
        }
        .image-container {
            position: relative;
            border-radius: rem(90);
            overflow: hidden;
            display: block;
            cursor: pointer;
            &:before {
                content: "";
                padding: 40% 50%;
                display: block;
            }
            img {
                transition: all ease-in-out 0.3s;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: auto;
            }
        }
    }
}
