@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;

$base-size: 17;
@function rem($target, $context: $base-size) {
    @return (calc($target / $base-size)) * 1rem;
}

// colors
$white: #FFFFFF;
$black: #000000;
$blue: #012361;
$lightGreen: #52E6E6;
$purble: #AA75EF;
$primary: #801BC5;


$imgPath: "../../images";


/////////////////////////////////////////////
$default-behaviour: true; //  true or false

@font-face {
    font-family: 'Rubik';
    src: url(../../Rubik-VariableFont_wght.ttf);
}
//== font-families
//
// font family
$font-family-default: 'Poppins', sans-serif;
$font-numbers-default: 'Poppins', sans-serif;
$fonts-map-default: (
);
// font family
$font-family-reverse: 'Rubik', sans-serif;
$font-numbers-reverse: 'Rubik', sans-serif;
$fonts-map-reverse: (
);
