<section class="try-enara">
    <div class="content">
        <div class="text" data-aos="fade-in" data-aos-delay="300">
            <h2>Try Enara Platform</h2>
            <p>At Enara, we prioritize a user-centric approach, recognizing the significance of ensuring you have a clear understanding of our product. Our demo allows you to explore the capabilities and value of our product first-hand. Discover how Enara can help you revolutionize autism intervention and support.</p>
        </div>
        <div class="btn-container">
            <div class="btn-lg chat" data-aos="fade-right" data-aos-delay="400">
                <a href="#">
                    <div>
                        <img src="assets/images/icons/chat-ic.svg" alt="">
                        <div>Let’s Talk</div>
                    </div>
                </a>
            </div>
            <div class="btn-lg sign" data-aos="fade-left" data-aos-delay="400">
                <a href="#">
                    <div>
                        <img src="assets/images/icons/arrow-white-sign.svg" alt="">
                        <div>Sign up</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-4 mb-5 mb-md-0 pb-5 pb-md-0">
                    <a href="index.html" class="logo">
                        <img src="../assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-6 mb-5 mb-md-0">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="media.html">Media</a></li>
                        <li><a href="blogs.html">Blogs</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-6 mb-5 mb-md-0">
                    <ul>
                        <li><a href="disclaimer.html">Medical Disclaimer</a></li>
                        <li><a href="terms.html">Terms of Use</a></li>
                        <li><a href="privact.html">Privacy Policy</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                    <h4>Let’s Connect!</h4>
                    <p>Let’s connect and work together towards empowering children with Autism and make world a better place for everyone.</p>
    
                    <div class="social-links">
                        <a href="#" class="facebook" data-aos="fade-in" data-aos-delay="150"></a>
                        <a href="#" class="linkedin" data-aos="fade-in" data-aos-delay="200"></a>
                        <a href="#" class="instagram" data-aos="fade-in" data-aos-delay="250"></a>
                        <a href="#" class="twitter" data-aos="fade-in" data-aos-delay="300"></a>
                        <a href="#" class="whatsapp" data-aos="fade-in" data-aos-delay="350"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright © 2024 Enara</p>
        </div>
    </div>
</footer>