<div class="header-wrapper container-fluid">
    <div class="logo-container">
        <a href="index.html" wdata-aos="fade-up" wdata-aos-delay="200">
            <img src="../assets/images/logo.png" alt="Enara">
        </a>
    </div>

    <div class="btns">
        <div class="desktop-vr">
            <div class="d-flex align-items-center">
                <button class="btn lang-btn btn-white" wdata-aos="fade-up" wdata-aos-delay="300">عربي</button>
                <a class="btn btn-primary" wdata-aos="fade-up" wdata-aos-delay="300">Therapist Login</a>
                <a class="btn btn-primary" wdata-aos="fade-up" wdata-aos-delay="400">Parents Login</a>
            </div>
        </div>
        <div class="mobile-vr">
            <button class="btn btn-primary login-btn" wdata-aos="fade-up" wdata-aos-delay="300">Login</button>
        </div>
        <button class="btn nav-btn" wdata-aos="fade-up" wdata-aos-delay="500">
            <i></i><i></i><i></i>
        </button>
    </div>
</div>

<menu>
    <div class="menu-sheet" data-aos="fade-in" data-aos-delay="50" data-aos-duration="200">
        <div>
            <div class="menu-header">
                <div class="logo anim-wrap">
                    <img data-aos="fade-up" data-aos-delay="50" src="../assets/images/Enara-Logo-primary.svg" alt="">
                </div>
                <button class="btn close">
                    <i data-aos="slide-down" data-aos-delay="500" data-aos-duration="300"></i>
                    <i data-aos="slide-right" data-aos-delay="800" data-aos-duration="300"></i>
                </button>
            </div>
            <div class="menu-container">
                <div>
                    <div class="btns">
                        <div class="anim-wrap">
                            <a class="btn btn-primary" data-aos="fade-up" data-aos-delay="300">Therapist Login</a>
                        </div>
                        <div class="anim-wrap">
                            <a class="btn btn-primary" data-aos="fade-up" data-aos-delay="400">Parents Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</menu>