<div class="header-wrapper container-fluid">
    <div class="logo-container">
        <a href="index.html" wdata-aos="fade-up" wdata-aos-delay="200">
            <img src="../assets/images/logo.png" alt="Enara">
        </a>
    </div>

    <div class="btns">
        <button class="btn lang-btn btn-white" wdata-aos="fade-up" wdata-aos-delay="300">عربي</button>
        <button class="btn btn-primary" wdata-aos="fade-up" wdata-aos-delay="400">Login</button>
        <button class="btn nav-btn" wdata-aos="fade-up" wdata-aos-delay="500">
            <i></i><i></i><i></i>
        </button>
    </div>
</div>