<div class="menu-sheet" data-aos="slide-left" data-aos-delay="50" data-aos-duration="300">
    <div>
        <div class="menu-header">
            <div class="logo anim-wrap">
                <img data-aos="fade-up" data-aos-delay="50" src="../assets/images/Enara-Logo-primary.svg" alt="">
            </div>
            <button class="btn close">
                <i data-aos="slide-down" data-aos-delay="500" data-aos-duration="300"></i>
                <i data-aos="slide-right" data-aos-delay="800" data-aos-duration="300"></i>
            </button>
        </div>
        <div class="menu-container">
            <ul>
                <li>
                    <a href="index.html" data-aos="fade-up" data-aos-delay="50">Home</a>
                </li>
                <li>
                    <a href="about.html" data-aos="fade-up" data-aos-delay="100">About Us</a>
                </li>
                <li>
                    <a href="products.html" data-aos="fade-up" data-aos-delay="150">Products & Features</a>
                </li>
                <li>
                    <a href="#" data-aos="fade-up" data-aos-delay="200">Parent Resources</a>
                </li>
                <li>
                    <a href="contact.html" data-aos="fade-up" data-aos-delay="250">Contact</a>
                </li>
            </ul>
        </div>

        <div class="menu-footer">
            <div class="social-links white">
                <a href="#" class="facebook" data-aos="fade-in" data-aos-delay="150"></a>
                <a href="#" class="linkedin" data-aos="fade-in" data-aos-delay="200"></a>
                <a href="#" class="instagram" data-aos="fade-in" data-aos-delay="250"></a>
                <a href="#" class="twitter" data-aos="fade-in" data-aos-delay="300"></a>
                <a href="#" class="whatsapp" data-aos="fade-in" data-aos-delay="350"></a>
            </div>
        </div>
    </div>
</div>